<!-- Describe task in general -->

<p style="text-align: justify;">
    A positive integer <b>n</b> is a <a target="_blank" href="https://en.wikipedia.org/wiki/Perfect_power">perfect power</a> if it can be expressed as the power <b>b<sup>e</sup>sup></b> for some two integers <b>b</b> and <b>e</b> that are both greater than one. (Any positive integer n can always be expressed as the trivial power n<sup>1</sup>sup>, so we don’t care about those.) For example, the integers 32, 125 and 441 are perfect powers since they equal 2<sup>5</sup>, 5<sup>3</sup> and 21<sup>2</sup>, respectively.  
</p>
<p style="text-align: justify;">
    This function should determine whether the positive integer <b>n</b> is a perfect power. Your function needs to somehow iterate through a sufficient number of possible combinations of <b>b</b> and <b>e</b> that could work, returning <b>{% if is_js %}t{% else %}T{% endif %}rue</b> right away when you find some <b>b</b> and <b>e</b> that satisfy <b>b<sup>e</sup>sup> == n</b>, and returning <b>{% if is_js %}f{% else %}F{% endif %}alse</b> when all relevant possibilities for <b>b</b> and <b>e</b> have been tried and found wanting.
</p>
<p style="text-align: justify;">
    Since <b>n</b> can get pretty large, your function should not examine too many combinations above and beyond those that are both necessary and sufficient to reliably determine the answer. Achieving this efficiency is the central educational point of this problem.    
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Integer <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Logic value <span translate="no">(bool{% if is_js %}ean{% endif %})</span>.
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>n > 0</i>.</li>
    </ul>
</p>

<p style="text-align: justify;">
    Related to the mission, you may be interested at <a target="_blank" href="https://en.wikipedia.org/wiki/Catalan's_conjecture">Catalan’s conjecture</a>, these days a proven mathematical theorem that says that after the special case of the two consecutive perfect powers 8 and 9, whenever a positive integer <b>n</b> is a perfect power, <b>n – 1</b> is never a perfect power. For example, we don’t have to slog through all potential ways to express the number as an integer power to know from the get-go that 12345**67890-1 is not a perfect power. This also illustrates the common asymmetry between performing a computation to opposite directions. Given some big chungus integer such as 4922235242952026704037113243122008064, but not the formula that originally produced it, it is not quite easy to tell whether that integer is a perfect power, or some perfect power plus minus one. 
</p>

<p><i>The mission was taken from <span translate="no">Python CCPS 109</span>. It is taught for <span translate="no">Ryerson Chang School of Continuing Education</span> by <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
